.UtilityCardMobile {
  height: 289px;
  width: 242px;
  padding: 16px 24px;
  background-color: #1f222c;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  img {
    width: 100%;
  }

  .utilityMobileTitle {
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
  }

  .utilityMobileDescription {
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    font-family: "Questrial", sans-serif;
    margin-bottom: 16px;
  }
}
