.headerBodyMobile {
  display: flex;
  position: absolute;
  top: 118px;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: white;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Archivo Bold", sans-serif;
  transition: all 0.5s ease-in-out;
}

.headerBodyMobileOpen {
  left: 0;
}

.headerMobileMenuIteam {
  border-bottom: 1px solid #bcbcbd;
  font-weight: 800;
  font-size: 1.25rem;
  padding: 20px 0;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.headerMobileOutlinerItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #bcbcbd;
  padding: 20px 0;
}

.headerMobileOutlinerItem a {
  font-family: "Archivo Bold", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
}

.headerMobileSocialIcon {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.headerMobileFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.headerMobileFooter a {
    text-decoration: none;
    color: black;
    font-size: 0.75rem;
    font-family: "Questrial",sans-serif;
}

.headerMobileSignature {
    font-family: "Questrial",sans-serif;
    text-align: center;
    width: 100%;
    font-size: 0.75rem;

}
