.headerMobile {
  width: 100%;
  border-bottom: 1px solid white;
}

.headerTopContainer {
  width: 100%;
  height: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px 30px;
  background-color: #353843;
}

.logo {
  width: 44px;
  height: auto;
}

.ninjaLogo {
  width: 147px;
  height: auto;
}

.hamMenu {
  width: 26px;
  height: auto;
}
