.RoadmapMobileCard {
  min-width: 231px;
  background-color: #1f222c;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 24px;
  border-radius: 10px;
  height: 180px;
}
